{% comment %} snippets/header-menu.liquid {% endcomment %}

{%- style -%}
  {% render 'header-menu-tlnt.css' %}
{%- endstyle -%}

<ul class="nav-menu-tlnt">
  {%- for link in menu.links -%}
    <li class="nav-item">
      <a href="{{ link.url }}" class="nav-link">
        {{ link.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>